<app-navbar></app-navbar>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card" style="border-radius: 15px; font-weight: 100;">
                <div class="card-header card-header-primary"
                    style="border-radius: 5px; background-image: linear-gradient(-90deg, white, #32a852);">
                    <p class="card-title text-white text-center" style="font-size: 20px;">CHUBB INDIA 2020 HOLIDAYS</p>
                </div>
                <div class="card-body">

                    <div class="table-responsive" style="max-height: 400px;">
                        <table class="table">
                            <thead class="text-primary">
                                <th style="font-weight: bold;">
                                    S.NO
                                </th>
                                <th style="font-weight: bold; min-width: 50%; ">
                                    Occation
                                </th>
                                <th style="font-weight: bold;">
                                    Hyderabad
                                </th>
                                <th style="font-weight: bold;">
                                    Bengaluru
                                </th>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        New Year Day,01-01-2020, Wednesday
                                    </td>
                                    <td>
                                        YES
                                    </td>
                                    <td>
                                        YES
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        Sankranthi/Pongal, 15-01-2020, Wednesday
                                    </td>
                                    <td>

                                        YES
                                    </td>
                                    <td>
                                        YES
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        Ugadi, 25-03-2020, Wednesday
                                    </td>
                                    <td>

                                        YES
                                    </td>
                                    <td>
                                        YES
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        New Year Day,01-01-2020, Wednesday
                                    </td>
                                    <td>
                                        YES
                                    </td>
                                    <td>
                                        YES
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        Sankranthi/Pongal, 15-01-2020, Wednesday
                                    </td>
                                    <td>

                                        YES
                                    </td>
                                    <td>
                                        YES
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        Ugadi, 25-03-2020, Wednesday
                                    </td>
                                    <td>

                                        YES
                                    </td>
                                    <td>
                                        YES
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        New Year Day,01-01-2020, Wednesday
                                    </td>
                                    <td>
                                        YES
                                    </td>
                                    <td>
                                        YES
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        Sankranthi/Pongal, 15-01-2020, Wednesday
                                    </td>
                                    <td>

                                        YES
                                    </td>
                                    <td>
                                        YES
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        Ugadi, 25-03-2020, Wednesday
                                    </td>
                                    <td>

                                        YES
                                    </td>
                                    <td>
                                        YES
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        New Year Day,01-01-2020, Wednesday
                                    </td>
                                    <td>
                                        YES
                                    </td>
                                    <td>
                                        YES
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        Sankranthi/Pongal, 15-01-2020, Wednesday
                                    </td>
                                    <td>

                                        YES
                                    </td>
                                    <td>
                                        YES
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        Ugadi, 25-03-2020, Wednesday
                                    </td>
                                    <td>

                                        YES
                                    </td>
                                    <td>
                                        YES
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        New Year Day,01-01-2020, Wednesday
                                    </td>
                                    <td>
                                        YES
                                    </td>
                                    <td>
                                        YES
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        Sankranthi/Pongal, 15-01-2020, Wednesday
                                    </td>
                                    <td>

                                        YES
                                    </td>
                                    <td>
                                        YES
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        3
                                    </td>
                                    <td>
                                        Ugadi, 25-03-2020, Wednesday
                                    </td>
                                    <td>

                                        YES
                                    </td>
                                    <td>
                                        YES
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <p>*Chubb India offices in the respective locations will not be operational on these days.
                        The respective unit managers of Analytics/CAT will share the Holiday calender with their teams
                        separately. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-5">
            <button type="button" class="btn btn-raised btn-success btn-lg" style="background-color:#20bf55;
            background-image:linear-gradient(315deg, #20bf55 0%, #01baef 74%);
            ">Apply Leaves</button>
        </div>
    </div>
</div>
<br>
<div class="container col-md-10">
    <div class="card" style="border-radius: 15px; font-weight: 100;">
        <div class="card-body">
            <div class="table-responsive" style="height: 200px;">
                <table class="table table-striped">
                    <thead>
                        <th style="color: black;">
                            S.NO
                        </th>
                        <th style="color: black;">
                            Leave Type
                        </th>
                        <th style="color: black;">
                            From Date
                        </th>
                        <th style="color: black;">
                            To Date
                        </th>
                        <th class="text-center" style="color: black;">
                            Reason
                        </th>

                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>

                                full
                            </td>
                            <td>
                                fjdslkfj
                            </td>
                            <td>
                                flkdsjf
                            </td>
                            <td>
                                the capacity of consciously making sense of things
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>

                                full
                            </td>
                            <td>
                                fjdslkfj
                            </td>
                            <td>
                                flkdsjf
                            </td>
                            <td>
                                the capacity of consciously making sense of things
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>

                                full
                            </td>
                            <td>
                                fjdslkfj
                            </td>
                            <td>
                                flkdsjf
                            </td>
                            <td>
                                the capacity of consciously making sense of things
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>

                                full
                            </td>
                            <td>
                                fjdslkfj
                            </td>
                            <td>
                                flkdsjf
                            </td>
                            <td>
                                the capacity of consciously making sense of things
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>

                                full
                            </td>
                            <td>
                                fjdslkfj
                            </td>
                            <td>
                                flkdsjf
                            </td>
                            <td>
                                the capacity of consciously making sense of things
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>

                                full
                            </td>
                            <td>
                                fjdslkfj
                            </td>
                            <td>
                                flkdsjf
                            </td>
                            <td>
                                the capacity of consciously making sense of things
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>

                                full
                            </td>
                            <td>
                                fjdslkfj
                            </td>
                            <td>
                                flkdsjf
                            </td>
                            <td>
                                the capacity of consciously making sense of things
                            </td>
                        </tr>

                    </tbody>

                </table>

            </div>


        </div>

    </div>

</div>
<br>
<app-footer></app-footer>